@font-face {
    font-family: "titulo";
    src: url(../fonts/ti.ttf) format("truetype");
}

body{
	width: 100%;
}

#encabezado{

	background: url(../img/04.jpg) fixed;
	background-size: 100% auto;
	margin-top: -20px;
	height: 700px;
	position: relative;
	width: 100%;
}

#encabezado h1{
	padding-top: 17%;
	color: white;
	font-size: 6em;
}

#encabezado h3{
	color: white;
}

#social{
	width: 100%;
	clear: both;
    float:left;
    overflow:hidden;
}

#social ul{
	float:left;
	left:50%;
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position:relative;
}

#social li{
	float:left;
	position:relative;
	right:50%;
	padding-right: 10px;
}
/* ------------------------------------------------ */

#servicios{
	background-color: white;
	z-index: 2;
	position: relative;
	width: 100%;
	height: 650px;

}

#servicios h1{
	padding-top: 80px;
	color: gray;
	font-size: 4em;
}

#servicios h3{
	font-style: bold;
}

#iconos{
	padding-top: 150px;
	visibility: hidden;
}

/* Portafolio*/

#portafolio{
	background-color: #F4F4F4;
	position: relative;
	z-index: 2;
	width: 100%;
}

#portafolio h1{
	padding-top: 80px;
	color: gray;
	font-size: 4em;
	padding-bottom: 50px;
}

#portafoliojs{
	margin-bottom: 100px;
}
 

/* Contacto */

#contacto{
	width: 80%;
	height: 600px;
}

#contacto h1{
	padding-top: 40px;
	color: gray;
	font-size: 4em;
}


#frmcontacto{
	width: 100%;
	
}

/* Clases */
.centrar{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.centrar2{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* #Container .mix{
	display: none;
} */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
  padding: 2%;
  color: black;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: white;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
  color: white;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  /* background: #03899c; */
  background-color: white;
  margin-bottom: 2%;
  display: none;
}

.container .mix.category-1{
  border-top: 2px solid limegreen;
}

.container .mix.category-2{
  border-top: 2px solid yellow;
}

.container .mix.category-3{
  border-top: 2px solid red;
}

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

/* Media queries para manejar las responsividad del sitio web */

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

/* @media all and (max-width: 1130px){
	#encabezado{
		background: url(../img/04-med.jpg) fixed;
		background-size: 100% auto;
	}
 
} */

@media all and (max-width: 1120px){
	#encabezado{
		 height: 600px; 
	}
 
}

@media all and (max-width: 960px){
	#encabezado{
		 height: 500px; 
	}
 
}



@media all and (max-width: 800px){
	#encabezado{
		height: 450px;
		/* background: url(../img/04-sm.jpg) fixed;
		background-size: 100% auto; */
	}
 
}

@media all and (max-width: 720px){
	#encabezado{
		height: 400px;
	}
 
}

@media all and (max-width: 640px){
	#encabezado{
		height: 350px;
	}
 
}

@media all and (max-width: 560px){
	#encabezado{
		height: 300px;
	}
 
}

@media all and (max-width: 523px){

	#encabezado{
		height: 321px;
	}


	#encabezado h1{
		padding-top: 8%;
	}
 
}

@media all and (max-width: 510px){

	#encabezado{
		height: 280px;
	}


	#encabezado h1{
		padding-top: 18%;
		font-size: 4em;
	}
 
}

@media all and (max-width: 445px){

	#encabezado{
		height: 240px;
	}

 
}





@media all and (max-width: 767px){

	#servicios{

		height: 1100px;

	}

	#iconos{
		padding-top: 50px;
	}

 
}

@media all and (max-width: 400px){

	#servicios{
		height: 1200px;
	}
 
}

@media all and (max-width: 383px){

	#encabezado{
		height: 190px;
	}

	#encabezado h1{
		padding-top: 15%;
		font-size: 3em;
	}

	#encabezado h3{
		margin-top: -10px;
		font-size: 1.5em;
	}

 
}

@media all and (max-width: 308px){

	#encabezado{
		height: 165px;
	}

	#encabezado h1{
		padding-top: 18%;
		font-size: 2.5em;
	}

 
}


@media all and (max-width: 260px){

	#encabezado{
		height: 140px;
	}

	#encabezado h1{
		padding-top: 24%;
		font-size: 2em;
	}

	#encabezado h3{
		font-size: 1em;
	}

	#social ul li a img{
		width: 20px;
		height: 20px;
	}

	#servicios{
		height: 1400px;
	}
 
}

@media all and (max-width: 223px){

	#servicios{

	height: 1500px;
	}
 
}